.app{
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
background-color: hotpink;
}
.row {

}

.day {
  width: 33%;
  background-color: aquamarine;
  margin-bottom: 10px;
}

.skills {
  font-size: larger;
}